<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PrivateClothes</display-name>
  <welcome-file-list>
    <welcome-file>getDataForIndex.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>servlet.ArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClothesServlet</servlet-name>
    <servlet-class>servlet.ClothesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClothesServlet</servlet-name>
    <url-pattern>/ClothesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClothesTypeServlet</servlet-name>
    <servlet-class>servlet.ClothesTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClothesTypeServlet</servlet-name>
    <url-pattern>/ClothesTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MaterialServlet</servlet-name>
    <servlet-class>servlet.MaterialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaterialServlet</servlet-name>
    <url-pattern>/MaterialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClothesSizeServlet</servlet-name>
    <servlet-class>servlet.ClothesSizeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PingJiaServlet</servlet-name>
    <servlet-class>servlet.PingJiaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>servlet.CartServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>ClothesSizeServlet</servlet-name>
    <url-pattern>/ClothesSizeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PingJiaServlet</servlet-name>
    <url-pattern>/PingJiaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  
</web-app>